<div class="bg-custom min-vh-100 d-flex flex-row align-items-center">
  <c-container breakpoint="md">
    <c-row class="justify-content-center">
      <c-col lg="10" xl="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form (ngSubmit)="login(loginForm)" #loginForm="ngForm">
                <h1>Login</h1>
                <p class="text-body-secondary">Sign In to your account</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input autoComplete="username" cFormControl placeholder="Username" name="username" ngModel #username="ngModel" required />
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input autoComplete="current-password" cFormControl placeholder="Password" type="password" name="password" ngModel #password="ngModel" required />
                </c-input-group>
                <c-row>
                  <c-col xs="6">
                    <button cButton class="px-4 text-black" type="submit" [ngStyle]="{'background-color': '#FFDE59'}" >
                      Login
                    </button>
                  </c-col>
                  <c-col class="text-right" xs="6">
                    <!-- <button cButton class="px-0" color="link">
                      Forgot password?
                    </button> -->
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
          <c-card [ngStyle]="{'minWidth.%': 44,'background-color':''}" class="text-black  py-5">
            <c-card-body class="text-center">
              <img src="../../assets/images/logo/wafacash3.jfif" alt="Logo" class="img-fluid mb-4" style="max-width: 200px;">
              <h2>Welcome Back!</h2>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
